<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>1VMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Vendor_register_servlet</display-name>
    <servlet-name>Vendor_register_servlet</servlet-name>
    <servlet-class>servlets.Vendor_register_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendor_register_servlet</servlet-name>
    <url-pattern>/Vendor_register_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vendor_login_servlet</display-name>
    <servlet-name>Vendor_login_servlet</servlet-name>
    <servlet-class>servlets.Vendor_login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendor_login_servlet</servlet-name>
    <url-pattern>/Vendor_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vendor_logout_servlet</display-name>
    <servlet-name>Vendor_logout_servlet</servlet-name>
    <servlet-class>servlets.Vendor_logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendor_logout_servlet</servlet-name>
    <url-pattern>/Vendor_logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buyer_register_servlet</display-name>
    <servlet-name>Buyer_register_servlet</servlet-name>
    <servlet-class>servlets.Buyer_register_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer_register_servlet</servlet-name>
    <url-pattern>/Buyer_register_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buyer_login_servlet</display-name>
    <servlet-name>Buyer_login_servlet</servlet-name>
    <servlet-class>servlets.Buyer_login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer_login_servlet</servlet-name>
    <url-pattern>/Buyer_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buyer_logout_servlet</display-name>
    <servlet-name>Buyer_logout_servlet</servlet-name>
    <servlet-class>servlets.Buyer_logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer_logout_servlet</servlet-name>
    <url-pattern>/Buyer_logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_vendor</display-name>
    <servlet-name>Update_vendor</servlet-name>
    <servlet-class>servlets.Update_vendor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_vendor</servlet-name>
    <url-pattern>/Update_vendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_buyer</display-name>
    <servlet-name>Update_buyer</servlet-name>
    <servlet-class>servlets.Update_buyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_buyer</servlet-name>
    <url-pattern>/Update_buyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_categories_servlet</display-name>
    <servlet-name>Add_categories_servlet</servlet-name>
    <servlet-class>categories.Add_categories_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_categories_servlet</servlet-name>
    <url-pattern>/Add_categories_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlets.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuotationRequestServlet</display-name>
    <servlet-name>QuotationRequestServlet</servlet-name>
    <servlet-class>servlets.QuotationRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuotationRequestServlet</servlet-name>
    <url-pattern>/QuotationRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendQuotation</display-name>
    <servlet-name>SendQuotation</servlet-name>
    <servlet-class>servlets.SendQuotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendQuotation</servlet-name>
    <url-pattern>/SendQuotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuotationSendServlet</display-name>
    <servlet-name>QuotationSendServlet</servlet-name>
    <servlet-class>servlets.QuotationSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuotationSendServlet</servlet-name>
    <url-pattern>/QuotationSendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractSendSevlet</display-name>
    <servlet-name>ContractSendSevlet</servlet-name>
    <servlet-class>servlets.ContractSendSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractSendSevlet</servlet-name>
    <url-pattern>/ContractSendSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractAcceptServlet</display-name>
    <servlet-name>ContractAcceptServlet</servlet-name>
    <servlet-class>servlets.ContractAcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractAcceptServlet</servlet-name>
    <url-pattern>/ContractAcceptServlet</url-pattern>
  </servlet-mapping>
</web-app>